.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100px;
  overflow-x: hidden;
  z-index: 11;
}
.nav-inner {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  color: var(--link);
  animation: 0.25s slide-right ease-out;
}
.nav-inner.close {
  animation: 0.25s slide-left ease-in;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.main-menu {
  margin-left: 10%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.menu-item {
  margin-bottom: 7vh;
}
.menu-item a {
  color: var(--link);
  font-size: 5vw;
  font-family: 'Gilroy ExtraBold';
  transition: 0.4s;
}
.menu-item a:hover {
  color: white;
}
.menu-item-no {
  display: block;
  font-size: 1rem;
  font-family: 'Gilroy';
  color: #fe9900;
  font-style: italic;
}

/* Media Styles */
@media (max-width: 770px) {
  .nav-container {
    left: 0;
    top: 50px;
  }
  .menu-item a {
    font-size: 6vh;
  }
}
