main {
  height: 100vh;
  width: 100%;
}
.homepage-wrapper {
  height: 100%;
  margin-left: 100px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.home-bgr {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  background: url('../../../images/mcg-landing.png') no-repeat;
  background-position: top left;
  background-size: cover;
}
.homepage-wrapper .logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 170px;
  display: flex;
}
.homepage-wrapper .logo svg {
  fill: var(--primary);
  width: 100%;
}
.feature-container {
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 7%;
  transform: translateY(-50%);
}
.feature-container .welcome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.welcome .text {
  margin-left: 20px;
}
.feature-container .title {
  font-size: 2.7vw;
  font-family: 'Gilroy Bold';
}
.feature-container .subtitle {
  font-size: 1.5vw;
  line-height: 2.5vw;
}
.home-link-wrap {
  z-index: 10;
  height: 100%;
  width: calc(25% - 26px);
  border-left: solid 1px rgba(193, 197, 198, 0.4);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}
.home-link-wrap:last-child {
  margin-right: 99px;
}
.home-link-wrap .link {
  padding-bottom: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  text-decoration: none;
  color: var(--link);
  overflow: hidden;
  position: relative;
}
.home-link-wrap .link .link-text {
  font-size: 0.8rem;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.home-link-wrap .link .link-number {
  font-size: 2.2rem;
  line-height: 2rem;
  transition: 0.25s ease-in-out;
}
.link:after {
  content: '';
  position: absolute;
  background-color: var(--primary);
  height: 3px;
  bottom: -3px;
  left: 0;
  right: 0;
  transition: 0.25s ease-in-out;
}
.link.active .link-number,
.link:hover .link-number {
  color: var(--primary);
}
.link.active:after,
.link:hover:after {
  bottom: 0;
}
.home-link-wrap .big-word-1,
.home-link-wrap .big-word-2 {
  position: absolute;
  color: var(--secondary);
  opacity: 0.6;
  line-height: 7vw;
  font-size: 10vw;
  font-family: 'Gilroy Bold';
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
}
.home-link-wrap .big-word-1 {
  text-indent: 9%;
  bottom: 50%;
  left: 1.5vw;
}
.home-link-wrap .big-word-2 {
  top: 50%;
  text-indent: -5%;
  right: 1.5vw;
}

.discover-btn {
  display: flex;
  align-items: center;
  z-index: 10;
  position: absolute;
  bottom: 20%;
  left: 7%;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 4px;
  padding: 0;
  outline: none;
}
.discover-btn svg {
  font-size: 1.4rem;
  margin-right: 10px;
  color: var(--primary);
  transition: 0.25s;
}
.discover-btn:hover svg {
  animation: slide 1s ease-in-out infinite;
}
@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-8px, 0);
  }
}

/* Media Styles */
@media (max-width: 770px) {
  main {
    height: calc(100vh - 50px);
  }
  .homepage-wrapper {
    margin-left: 0;
    margin-top: 50px;
  }
  .homepage-wrapper .logo {
    display: none;
  }
  .welcome .text {
    margin-left: 10px;
    font-size: 0.8rem;
  }
  .feature-container .title {
    font-size: 1.2rem;
  }
  .feature-container .subtitle {
    font-size: 0.8rem;
  }
  .discover-btn {
    font-size: 0.7rem;
  }
  .discover-btn svg {
    font-size: 1.2rem;
  }
  .home-link-wrap:last-child {
    margin-right: 29px;
  }
  .home-link-wrap {
    width: calc(25% - 7.5px);
  }
}
@media (max-width: 540px) {
  .home-link-wrap {
    display: none;
  }
}
