@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url('./fonts/Gilroy-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Gilroy Bold';
  src: local('Gilroy Bold'), url('./fonts/Gilroy-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Gilroy ExtraBold';
  src: local('Gilroy ExtraBold'),
    url('./fonts/Gilroy-ExtraBold.otf') format('opentype');
}
:root {
  --primary: #222127;
  --secondary: #8c8d91;
  --tertiary: #c1c5c6; /* rgb(193,197,198) */
  --link: #888888;
  --homeBgr: #eef1f2;
  --border: #bfc3c6;
}

body {
  font-family: 'Gilroy';
  background: rgb(238, 241, 242);
  background: rgb(241, 245, 246);
  background: linear-gradient(
    0deg,
    rgba(241, 245, 246, 1) 0%,
    rgba(233, 238, 241, 1) 100%
  );
  font-size: 18px;
  color: var(--primary);
}
a:link,
a:visited,
a:active {
  color: var(--primary);
  text-decoration: none;
}
